<h1>User#index</h1>
<%= @user.email %>

<div>
<%= link_to 'アカウント','/user/account' %>
<%= link_to 'プロフィール','/user/profile' %>
</div>

<%= link_to 'アカウント編集','/users/edit' %>
<p>Find me in app/views/user/index.html.erb</p>
